thesis/*.aux
thesis/*.bbl
thesis/*.bcf
thesis/*.blg
thesis/*.dvi
thesis/*.fdb_latexmk
thesis/*.fls
thesis/*.idx
thesis/*.ilg
thesis/*.ind
thesis/*.lof
thesis/*.log
thesis/*.lot
thesis/*.nav
thesis/*.nlo
thesis/*.nls
thesis/*.out
thesis//*.pdf
thesis/pdfa.xmpi
thesis/*.snm
thesis/.*.swp
thesis/*.synctex.gz
thesis/thesis-blx.bib
thesis/thesis-run.xml
thesis/thesis.run.xml
thesis/*.toc
thesis/*.vrb
thesis/*.odt
thesis/guide.pdf

program/pics
program/!/pics/.gitkeep
program/__pycache__arendek