*.aux
*.pdf
!thesis.pdf
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.nlo
*.nls
*.out
*.toc
*.vrb
*.odt
*.snm
.*.swp
*.synctex.gz
thesis-blx.bib
thesis-run.xml
thesis.run.xml
pdfa.xmpi

**/wtf

/build
/docker

program/pics
program/__pycache__